PORT=

# Database
DB_ORA_USER=
DB_ORA_PASSWORD=
DB_ORA_CONNECTION_STRING=
DB_ORA_POOL_MIN=
DB_ORA_POOL_MAX=

DB_SQLSRV_USER=
DB_SQLSRV_PORT=
DB_SQLSRV_HOST=
DB_SQLSRV_PASSWORD=
DB_SQLSRV_DATABASE=
DB_SQLSRV_POOL_MIN=
DB_SQLSRV_POOL_MAX=
DB_SQLSRV_SCHEMA=

DB_MYSQL_HOST=
DB_MYSQL_USER=
DB_MYSQL_PASSWORD=
DB_MYSQL_DATABASE=

PLAMO_URI=